* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap {
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width: 1400px;
    margin: 0 auto;
}

/* Header content
 =================================================== */



.header-title {
    margin-bottom: 30px;
    padding-top: 70px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    color: #212121;
}

.line {
    width: 64px;
    height: 2px;
    margin: 0 auto 30px;
    background: #FF8B38;
    border: none;
}

.subtitle {
    padding-bottom: 40px;
    color: #86878B;
    font-size: 14px;
    font-weight: 400;
}

/* Main content
 =================================================== */

main {
    padding: 40px 0 107px;
    font-size: 0;
}

.card {
    display: inline-block;
    width: 350px;
    margin: 0 16px;
}


.card-title {
    margin-bottom: 29px;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}

.text {
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
}


.icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 29px;
    border: 2px solid #FF8B38;
    border-radius: 50%;
}

.icon--lamp {
    background: url(../img/lamp.png) no-repeat center;
}

.icon--keyboard {
    background: url(../img/keyboard.png) no-repeat center;
}

.icon--lightning {
    background: url(../img/lightning.png) no-repeat center;
}
/* Section
=================================================================== */
.section{
    display: inline-block;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), no-repeat center url("../img/background.png") ;
    margin: 0 auto;
    width: 1400px;
    height: 326px;
    padding: 1px 0px 50px;
}

.header--title-section {
    color: white;
}
.line--section{
    background: white;
}
.button{
    display: block;
    margin:0px auto;    
    background:  rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border: 1px solid;
    width: 130px;
    height: 40px;
    font-weight: 600;
}
/* Footer 
==================================================== */
.footer{
    background: black;
    padding: 20px 0 20px;
    
}
.social-icon{
    display: block;
    background: no-repeat center url("../img/icons.png");
    margin: 0 auto;
    width: 320px;
}
.social-icons{
    display: inline-block;
    text-align: center;
}
.social-icons a{
    display: block;
    height: 30px;
    width: 40px;
}
.q{
    display: inline-block;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
    font-size: 12px;
    color: rgb(99, 98, 97);
}
